* {
    outline: none !important
}

html,
body
{
    background: #fff;
    margin: 0;
    padding: 0;
    color: #000
}

body
{
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 32px
}

h1 { font-size: 40px }
h2 { font-size: 36px }
h3 { font-size: 32px }
h4 { font-size: 28px }
h5 { font-size: 24px }
h6 { font-size: 20px }

div.hr {
    width: 100%;
    background-color: #ddd;
    height: 2px;
    border-radius: 9px
}

#debug_container {
    margin-bottom: 24px
}

.execution_stats p {
    line-height: 5px
}

img {
    image-rendering: pixelated;
    margin-right: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(128, 128, 128, .9);
    margin: 0 8px 8px 0
}

img:hover {
    border-color: rgba(128, 128, 128, .4)
}

.zoomed-images img {
    width: 24%
}
